<launch>
    <include file="$(find sp_core)/launch/robot_nav_bringup.launch"></include>

    <!-- ARUCO MARKER DETECTOR -->
    <!-- <include file="$(find sp_perception)/launch/aruco.launch"></include> -->
    <!-- -->
    <node pkg="robot_face" type="serve.py" name="robot_face_node" />

    <include file="$(find sp_navigation)/launch/nav_3d.launch"></include>
</launch>