<launch>

  <!-- laser_scan_matcher -->
  <node pkg="laser_scan_matcher" type="laser_scan_matcher_node" name="laser_scan_matcher_node" output="screen">
    <!-- <remap from="odom" to="odometry/filtered"/> -->
    <rosparam>
      fixed_frame: odom
      base_frame: base_link
      publish_pose_stamped: true

    </rosparam>

  </node>
  <!-- -->

</launch>
