<launch>
<!--
  <remap from="/camera" to="/wrist_camera"/>

  <node pkg="tf" type="tf_remap" name="tf_remapper" output="screen">
  <rosparam param="mappings">
    [{old: /camera_color_optical_frame, new: /wrist_camera_color_optical_frame}]
  </rosparam>
  </node>
-->
    <arg name="serial_no_1"     default="031522070880"/>
    <arg name="serial_no_2"     default="841512070749"/>
    <arg name="camera_1"         default="camera"/>		
    <arg name="camera_2"         default="camera"/>
    <arg name="tf_prefix_1"     default="$(arg camera_1)"/>
    <arg name="tf_prefix_2"     default="$(arg camera_2)"/>
    <arg name="initial_reset"   default="false"/>
    <!-- <arg name="reconnect_timeout"     default="6.0"/> -->

    <!-- REDUCE RATE AND USE NUC TIME -->
    <node name="d435i_accel_correction" pkg="stretch_core" type="d435i_accel_correction" output="screen" />

    <!-- Static tf for cam 2 -->
    <node pkg="tf" type="static_transform_publisher" name="link1_broadcaster" args="0 0 0 0 0 0 link_aruco_top_wrist $(arg camera_2)_link 100" />
    <!-- link_aruco_top_wrist -->

    <!-- Head Camera -->

    <!-- Wrist Camera -->
    <include file="$(find sp_perception)/launch/d435i_basic.launch" pass_all_args="true">
        <!--
        HIGHEST RESOLUTION, but also has the highest minimum depth
        (280mm Min-Z) below which objects generate bad noise, such as
        when the arm and gripper are raised close to the camera.
        -->
        <arg name="depth_width" value="1280"/>
        <arg name="depth_height" value="720"/>
        <arg name="color_width" value="1280"/>
        <arg name="color_height" value="720"/>
        <arg name="serial_no"     value="$(arg serial_no_1)"/>
        <arg name="camera"    value="$(arg camera_1)"/>
        <!-- <arg name="tf_prefix" value="$(arg tf_prefix_1)"/> -->
        <arg name="initial_reset"         value="$(arg initial_reset)"/>
        <!-- <arg name="reconnect_timeout"     value="$(arg reconnect_timeout)"/> -->

        <arg name="enable_accel" value="true"/>
    </include>

    <node name="d435i_configure" pkg="stretch_core" type="d435i_configure" output="screen">
        <!--<param name="initial_mode" type="string" value="Default"/>-->
        <param name="initial_mode" type="string" value="High Accuracy"/>
    </node>
    <!-- -->
    <node name="image_view" pkg="image_view" type="image_view" respawn="false" output="screen">
        <remap from="image" to="/camera/color/image_raw"/>
        <param name="autosize" value="true" />
    </node>

  <!-- STRETCH DRIVER -->
  <param name="/stretch_driver/broadcast_odom_tf" type="bool" value="false"/>
  <param name="/stretch_driver/fail_out_of_range_goal" type="bool" value="false"/>
  <include file="$(find stretch_core)/launch/stretch_driver.launch" pass_all_args="true"/>
  <!-- -->

   <!-- ARUCO MARKER DETECTOR -->
  <include file="$(find sp_perception)/launch/stretch_aruco.launch"></include>
 
  <!-- -->
</launch>