<launch>
     <!-- STRETCH DRIVER -->
    <param name="/stretch_driver/broadcast_odom_tf" type="bool" value="true"/>
    <param name="/stretch_driver/mode" type="string" value="navigation" />
    <include file="$(find stretch_core)/launch/stretch_driver.launch" pass_all_args="true"/>

    <arg name="serial_no_1"     default="031522070880"/>
    <arg name="serial_no_2"     default="841512070749"/>
    <arg name="camera_1"         default="camera"/>		
    <arg name="camera_2"         default="camera"/>
    <arg name="tf_prefix_1"     default="$(arg camera_1)"/>
    <arg name="tf_prefix_2"     default="$(arg camera_2)"/>
    <arg name="initial_reset"   default="false"/>
    <arg name="rviz"        default="true"     doc="whether to show Rviz" />
    <!-- <arg name="reconnect_timeout"     default="6.0"/> -->

    <!-- REDUCE RATE AND USE NUC TIME -->
    <node name="d435i_accel_correction" pkg="stretch_core" type="d435i_accel_correction" output="screen" />

    <!-- Static tf for cam 2 -->
    <node pkg="tf" type="static_transform_publisher" name="link1_broadcaster" args="0.080 -0.609 0.903 -0.369 -0.528 -0.443 0.623 base_link b2m 100" />
    <node pkg="tf" type="static_transform_publisher" name="link2_broadcaster" args="-0.107 -0.017 0.334 -0.692 0.695 -0.194 0.036 camera_color_optical_frame c2m 100" />
    <node pkg="tf" type="static_transform_publisher" name="link3_broadcaster" args="-0.03221634 -0.27813264  0.8679531 -1.5145794380841036 -0.006467826586802119 -3.1265566607808593 base_link b2c 100" />
    <node pkg="tf" type="static_transform_publisher" name="link4_broadcaster" args="-0.025 0.041 0.046 0.686 0.727 -0.016 -0.009 link_aruco_top_wrist w2c 100" />
    
    <!-- link_aruco_top_wrist -->

    <!-- Head Camera -->

    <!-- Wrist Camera -->
    <include file="$(find sp_perception)/launch/d435i_basic.launch" pass_all_args="true">
        <!--
        HIGHEST RESOLUTION, but also has the highest minimum depth
        (280mm Min-Z) below which objects generate bad noise, such as
        when the arm and gripper are raised close to the camera.
        -->
        <arg name="depth_width" value="1280"/>
        <arg name="depth_height" value="720"/>
        <arg name="color_width" value="1280"/>
        <arg name="color_height" value="720"/>
        <arg name="serial_no"     value="$(arg serial_no_1)"/>
        <arg name="camera"    value="$(arg camera_1)"/>
        <!-- <arg name="tf_prefix" value="$(arg tf_prefix_1)"/> -->
        <arg name="initial_reset"         value="$(arg initial_reset)"/>
        <!-- <arg name="reconnect_timeout"     value="$(arg reconnect_timeout)"/> -->

        <arg name="enable_accel" value="true"/>
    </include>
  
  <!-- ARUCO MARKER DETECTOR -->
  <include file="$(find sp_perception)/launch/stretch_aruco.launch"></include>

  <!-- VISUALIZE -->
  <node name="rviz" pkg="rviz" type="rviz" output="log" args="-d $(find stretch_navigation)/rviz/mapping.rviz" if="$(arg rviz)" />
  <!-- -->
</launch>