<launch>
  <!-- REALSENSE D435i -->
    <include file="$(find stretch_core)/launch/d435i_basic.launch" pass_all_args="true">
    <!--
	HIGHEST RESOLUTION, but also has the highest minimum depth
	(280mm Min-Z) below which objects generate bad noise, such as
	when the arm and gripper are raised close to the camera.
    -->
      <arg name="depth_fps" value="30" />
      <arg name="depth_width" value="848"/>
      <arg name="depth_height" value="480"/>
      <arg name="color_width" value="848" />
      <arg name="color_height" value="480" />
      <arg name="serial_no" value="031522070880" />
    <!-- <arg name="initial_reset" value="true" /> -->
  </include>
  <node name="d435i_configure" pkg="stretch_core" type="d435i_configure" output="screen">
    <!--<param name="initial_mode" type="string" value="Default"/>-->
    <param name="initial_mode" type="string" value="High Accuracy"/>
  </node>
  <!-- -->
</launch>
